
@{
    <footer class="mg-footer">
        <div class="mg-footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h2 class="mg-widget-title">Contact US</h2>
                            <address>
                                <strong>Envato</strong><br>
                                Level 13, 2 Elizabeth St, Melbourne<br>
                                Victoria 3000 Australia
                            </address>

                            <p>
                                +000-123-456-789<br>
                                +000-123-456-789
                            </p>

                            <p>
                                <a href="mailto:#">example@example.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h2 class="mg-widget-title">Instagram</h2>
                            <ul class="mg-instagram">
                                <li><a href="#"><img src="images/ins-01.png" alt=""></a></li>
                                <li><a href="#"><img src="images/ins-02.png" alt=""></a></li>
                                <li><a href="#"><img src="images/ins-03.png" alt=""></a></li>
                                <li><a href="#"><img src="images/ins-04.png" alt=""></a></li>
                                <li><a href="#"><img src="images/ins-05.png" alt=""></a></li>
                                <li><a href="#"><img src="images/ins-06.png" alt=""></a></li>
                                <li><a href="#"><img src="images/ins-07.png" alt=""></a></li>
                                <li><a href="#"><img src="images/ins-08.png" alt=""></a></li>
                                <li><a href="#"><img src="images/ins-09.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h2 class="mg-widget-title">Newsletter</h2>
                            <p>Inbecilloque elegans errorem concedo coniuncta arare dicant etsi electram minimum.</p>
                            <form>
                                <p>
                                    <input type="email" class="form-control" placeholder="Your Email">
                                </p>
                                <input type="submit" class="btn btn-main" value="Subscribe">
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h2 class="mg-widget-title">Social Media</h2>
                            <p>Tibi alienus possimus nomini legendus pariatur, logikh assidua philosophis expectat occultarum accedit suscipit interrogari difficilius reddidisti.</p>
                            <ul class="mg-footer-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mg-copyright">
            <div class="container">
                <div class="row">

                    <div class="col-md-6">
                        <ul class="mg-footer-nav">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Rooms</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <p>&copy; 2017  All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
}
