@{
}

<div class="mg-page-title parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Gallery</h2>
                <p>Check out our hotel premises.</p>
            </div>
        </div>
    </div>
</div>

<div class="mg-gallery-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mg-filter">
                    <form id="mg-filter">
                        <fieldset>
                            <label class="btn btn-dark btn-main"><input type="radio" name="filter" value="all" checked="checked">All</label>
                            <label class="btn btn-dark"><input type="radio" name="filter" value="classic">Classic</label>
                            <label class="btn btn-dark"><input type="radio" name="filter" value="deluxe">Deluxe</label>
                            <label class="btn btn-dark"><input type="radio" name="filter" value="royal">Royal</label>
                        </fieldset>
                    </form>
                </div>

                <div class="row" id="mg-grid">
                    <figure class="col-md-3 mg-gallery-item" data-groups='["classic"]'>
                        <a href="~/images/room-1.png" data-lightbox-gallery="rooms"><img src="~/images/room-1.png" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
                    </figure>
                    <figure class="col-md-3 mg-gallery-item" data-groups='["deluxe"]'>
                        <a href="~/images/room-2.png" data-lightbox-gallery="rooms"><img src="~/images/room-2.png" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
                    </figure>
                    <figure class="col-md-3 mg-gallery-item" data-groups='["royal"]'>
                        <a href="~/images/room-3.png" data-lightbox-gallery="rooms"><img src="~/images/room-3.png" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
                    </figure>
                    <figure class="col-md-3 mg-gallery-item" data-groups='["classic"]'>
                        <a href="~/images/room-4.png" data-lightbox-gallery="rooms"><img src="~/images/room-4.png" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
                    </figure>
                    <figure class="col-md-3 mg-gallery-item" data-groups='["deluxe"]'>
                        <a href="~/images/room-1.png" data-lightbox-gallery="rooms"><img src="~/images/room-1.png" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
                    </figure>
                    <figure class="col-md-3 mg-gallery-item" data-groups='["classic"]'>
                        <a href="~/images/room-2.png" data-lightbox-gallery="rooms"><img src="~/images/room-2.png" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
                    </figure>
                    <figure class="col-md-3 mg-gallery-item" data-groups='["royal"]'>
                        <a href="~/images/room-3.png" data-lightbox-gallery="rooms"><img src="~/images/room-3.png" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
                    </figure>
                    <figure class="col-md-3 mg-gallery-item" data-groups='["royal"]'>
                        <a href="~/images/room-3.png" data-lightbox-gallery="rooms"><img src="~/images/room-4.png" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
                    </figure>
                    <figure class="col-md-3 mg-gallery-item" data-groups='["classic"]'>
                        <a href="~/images/room-3.png" data-lightbox-gallery="rooms"><img src="~/images/gallery-01.png" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
                    </figure>
                    <figure class="col-md-3 mg-gallery-item" data-groups='["royal"]'>
                        <a href="~/images/room-3.png" data-lightbox-gallery="rooms"><img src="~/images/gallery-02.png" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
                    </figure>
                    <figure class="col-md-3 mg-gallery-item" data-groups='["deluxe"]'>
                        <a href="~/images/room-3.png" data-lightbox-gallery="rooms"><img src="~/images/gallery-06.png" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
                    </figure>
                    <figure class="col-md-3 mg-gallery-item" data-groups='["classic"]'>
                        <a href="~/images/room-3.png" data-lightbox-gallery="rooms"><img src="~/images/gallery-05.png" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="nivo-lightbox-overlay nivo-lightbox-theme-default nivo-lightbox-effect-fadeScale">
    <div class="nivo-lightbox-wrap">
        <div class="nivo-lightbox-content"></div>
        <div class="nivo-lightbox-title-wrap"></div>
    </div>
    <a href="#" class="nivo-lightbox-nav nivo-lightbox-prev" style="display: none;">Previous</a>
    <a href="#" class="nivo-lightbox-nav nivo-lightbox-next" style="display: none;">Next</a>
    <a href="#" class="nivo-lightbox-close" title="Close">Close</a>
</div>*@
<div class="previewGallery">
    <div class="col-md-12"><span id="closeImage" class="pull-right" style="margin: 20px; font-size: 15px;">X</span></div>
    <div id="imageBoxNbp" class="col-md-6 col-md-offset-3" style="height: 80%;padding-top: 80px;justify-content: center;align-items: center;display: flex;">

    </div>
</div>

