@{
    ViewData["Title"] = "Register";
}
@model Plaza.Models.User

<div class="mg-page-title parallax" style="background-position: 50% 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Register Now</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="padding-top: 30px">
            <form asp-controller="Home" asp-action="Register" method="post">
                <div class="mg-book-form-input">
                    <label asp-for="FirstName"></label>
                    <input class="form-control" asp-for="FirstName" />
                    <span asp-validation-for="FirstName"></span>
                </div>
                <div class="mg-book-form-input">
                    <label asp-for="LastName"></label>
                    <input class="form-control" asp-for="LastName" />
                    <span asp-validation-for="LastName"></span>
                </div>
                <div class="mg-book-form-input">
                    <label asp-for="Email"></label>
                    <input class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="mg-book-form-input">
                    <label asp-for="Password"></label>
                    <input class="form-control" asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="mg-book-form-input">
                    <label asp-for="PhoneNumber"></label>
                    <input class="form-control" asp-for="PhoneNumber" />
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
                <button type="submit" class="btn btn-main">Register</button>
            </form>    
        </div>
    </div>
</div>